body {
    background-color: black; /* Your desired background color */
    color: white;
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}
.video-background video {
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* Fade-in animation */
.fade-in {
    animation: fadeIn ease 0.8s; /* Decreased duration to 0.3s */
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

/* Fade-out animation */
.fade-out {
    animation: fadeOut ease 0.5s;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.revealUp {
    opacity: 0;
    transform: translateY(20px);
}

.revealUp.fadeIn {
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.8s ease-in-out, transform 0.8s ease-in-out;
}
