.navbar {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    opacity: 0;
    animation: fadeIn 4s ease forwards;
}

.navbar-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.navbar-links li {
    margin-left: 20px;
}

.NavBar {
    color: #fff;
    text-decoration: none;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 0.15em;
    position: relative;
}

.NavBar:hover {
    color: grey;
}

.active {
    color: grey;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@media screen and (max-width: 768px) {
    .navbar {
        justify-content: center;
    }

    .navbar-links {
        flex-direction: column;
        text-align: center;
    }

    .navbar-links li {
        margin: 10px 0;
    }
}
